/********** COMMON **********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: sans-serif;
}

/********** HEADER **********/
.view-call-f, .view-call-s {
    position: relative;
}

.view-call-f {
    position: absolute;
    top: 0;
    right: 35px;
}

.view-call-s {
    position: absolute;
    top: 0;
    right: 5px;
}

.view, .arrow {
    background-color: #4a4a4a;
    padding: 5px;
    color: white;
    top: 0;
    right: 0;
    border-radius: 5px;
}


/********** MAIN **********/
.wrapper {
    background: black;
    height: 85vh;
    width: 100%;
    margin-top: 25px;
}

.call-image {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 25px;
}

.square {
    width: calc(100% / 7 - 30px);
    position: relative;
}

.square img {
    height: 100%;
    width: 100%;
}

.name {
    background-color: rgb(127, 127, 127,);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px;
}


/********** FOOTER **********/
footer {
    background-color: #222222;
    font-size: 15px;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

 ul {
    color: white;
    list-style-type: none;
}

.end-meet-button {
    background-color: grey;
    color: red;
    height: 70px;
    line-height: 70px;
}

.green {
    color: green;
}

.options li {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.off li {
    display: inline-block;
    text-align: center;
    padding: 5px;
    justify-content: space-between;
}